* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 32em;
}

.grid {
    border: 1px solid black;
    width: 2em;
    height: 2em;
}

.grid-size-btn {
    margin-bottom: 1em;
}

.painted {
    background-color: black;
}